@import "../../../scss/variables/allVar";

.main-header {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: $bg-el;
    padding: $medium 0;
    box-shadow: 0 0 10px rgba($text-color, .1);

    @media (max-width: 767px) {
        height: $header-height;
        top: auto;
        bottom: 0;
        width: 100vw;
        text-align: center;
    }
}