@import "../../../scss/variables/allVar";

.expenses {
    $size: 12px;
    
    .title-balance-box {
        margin-bottom: $small;

        .title-balance-box-inner {
            margin: 0;
        }
    }

    .amount {
        margin-bottom: 0;
        letter-spacing: 4px;
        margin-left: $size;
        color: $expenses-color !important;
        @media (max-width: 576px) {
            font-size: 1.5rem;
        }
        @media (max-width: 400px) {
            font-size: 1.3rem;
        }
    }

    .shape {
        width: $size;
        height: $size;
        border-radius: 50%;
        margin-right: $small;
        background: $expenses-color;
    }

}