$dark-mode-el: #2b3945;

$dark-mode-bg: #202c37;

$dark-mode-text: #ffffff;

$light-mode-text: #111517;

$light-mode-inp: #858585;

$light-mode-bg: #fafafa;

$light-mode-el: #ffffff;

// **********
$bg: #fafafa;

$white: #ffffff;

$bg-el: #ffffff;

$main-color: #5F38BE;

$text-color: #111517;

$text-color-sub: #858585;

$income-color: #F09B95;

$expenses-color: #116CD5;